In [1]:
import pandas as pd
import numpy as np

In [2]:
#Import Dataset
df = pd.read_csv('NYPD_Complaint_Data_Current__Year_To_Date_.csv')
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,244685801,69,BROOKLYN,01/01/2015,00:00:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,<18,BLACK,F,1010541,175595,40.648614,-73.905257,"(40.6486135510607, -73.9052572032302)",POINT (-73.9052572032302 40.6486135510607)
1,242250195,42,BRONX,03/17/2022,15:23:00,03/17/2022,15:28:00,ATTEMPTED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,1010419,242374,40.831899,-73.905435,"(40.831899, -73.905435)",POINT (-73.905435 40.831899)
2,242385774,123,STATEN ISLAND,03/20/2022,11:52:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,45-64,WHITE,F,926029,138052,40.545405,-74.209485,"(40.545405, -74.209485)",POINT (-74.209485 40.545405)
3,242643555,121,STATEN ISLAND,03/24/2022,15:00:00,03/24/2022,22:00:00,COMPLETED,(null),NaN,...,NaN,18-24,BLACK,F,942822,166353,40.623188,-74.149238,"(40.6231883776008, -74.1492376947323)",POINT (-74.1492376947323 40.6231883776008)
4,242816732,42,BRONX,03/29/2022,15:24:00,03/29/2022,15:30:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,M,1010131,240105,40.825670,-73.906484,"(40.82567, -73.906484)",POINT (-73.906484 40.82567)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256797 entries, 0 to 256796
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CMPLNT_NUM                256797 non-null  object
 1   ADDR_PCT_CD               256797 non-null  int64
 2   BORO_NM                   256797 non-null  object
 3   CMPLNT_FR_DT              256797 non-null  object
 4   CMPLNT_FR_TM              256797 non-null  object
 5   CMPLNT_TO_DT              237423 non-null  object
 6   CMPLNT_TO_TM              256797 non-null  object
 7   CRM_ATPT_CPTD_CD          256797 non-null  object
 8   HADEVELOPT                256797 non-null  object
 9   HOUSING_PSA               16985 non-null   float64
 10  JURISDICTION_CODE         256797 non-null  int64
 11  JURIS_DESC                256797 non-null  object
 12  KY_CD                     256797 non-null  int64
 13  LAW_CAT_CD                256797 non-null  object
 14  LOC_OF_OCCUR_DESC         256797 non-null  object
 15  OFNS_DESC                 256797 non-null  object
 16  PARKS_NM                  256797 non-null  object
 17  PATROL_BORO               256797 non-null  object
 18  PD_CD                     256528 non-null  float64
 19  PD_DESC                   256797 non-null  object
 20  PREM_TYP_DESC             256797 non-null  object
 21  RPT_DT                    256797 non-null  object
 22  STATION_NAME              256797 non-null  object
 23  SUSP_AGE_GROUP            256797 non-null  object
 24  SUSP_RACE                 256797 non-null  object
 25  SUSP_SEX                  256797 non-null  object
 26  TRANSIT_DISTRICT          5708 non-null    float64
 27  VIC_AGE_GROUP             256797 non-null  object
 28  VIC_RACE                  256797 non-null  object
 29  VIC_SEX                   256797 non-null  object
 30  X_COORD_CD                256797 non-null  int64
 31  Y_COORD_CD                256797 non-null  int64
 32  Latitude                  256797 non-null  float64
 33  Longitude                 256797 non-null  float64
 34  Lat_Lon                   256797 non-null  object
 35  New Georeferenced Column  256797 non-null  object
dtypes: float64(5), int64(5), object(26)
memory usage: 70.5+ MB

In [4]:
df.shape

(256797, 36)

In [5]:
df.replace('(null)',np.nan,inplace= True)

In [6]:
df.isnull().sum()

CMPLNT_NUM                       0
ADDR_PCT_CD                      0
BORO_NM                        441
CMPLNT_FR_DT                     0
CMPLNT_FR_TM                     0
CMPLNT_TO_DT                 19374
CMPLNT_TO_TM                 19319
CRM_ATPT_CPTD_CD                 0
HADEVELOPT                  255982
HOUSING_PSA                 239812
JURISDICTION_CODE                0
JURIS_DESC                       0
KY_CD                            0
LAW_CAT_CD                       0
LOC_OF_OCCUR_DESC            41066
OFNS_DESC                        6
PARKS_NM                    255376
PATROL_BORO                      4
PD_CD                          269
PD_DESC                        269
PREM_TYP_DESC                  107
RPT_DT                           0
STATION_NAME                251089
SUSP_AGE_GROUP               50792
SUSP_RACE                    50792
SUSP_SEX                     50792
TRANSIT_DISTRICT            251089
VIC_AGE_GROUP                    0
VIC_RACE                        72
VIC_SEX                          0
X_COORD_CD                       0
Y_COORD_CD                       0
Latitude                         0
Longitude                        0
Lat_Lon                          0
New Georeferenced Column         0
dtype: int64

In [7]:
df.fillna(np.nan,inplace = True)

In [8]:
df.drop(columns=['HOUSING_PSA','TRANSIT_DISTRICT','HADEVELOPT','PARKS_NM', 'STATION_NAME','Lat_Lon', 'New Georeferenced Column'],inplace= True)

In [9]:
df.drop_duplicates(inplace = True)

In [10]:
df.dropna(inplace= True)

In [11]:
df.isna().sum()

CMPLNT_NUM           0
ADDR_PCT_CD          0
BORO_NM              0
CMPLNT_FR_DT         0
CMPLNT_FR_TM         0
CMPLNT_TO_DT         0
CMPLNT_TO_TM         0
CRM_ATPT_CPTD_CD     0
JURISDICTION_CODE    0
JURIS_DESC           0
KY_CD                0
LAW_CAT_CD           0
LOC_OF_OCCUR_DESC    0
OFNS_DESC            0
PATROL_BORO          0
PD_CD                0
PD_DESC              0
PREM_TYP_DESC        0
RPT_DT               0
SUSP_AGE_GROUP       0
SUSP_RACE            0
SUSP_SEX             0
VIC_AGE_GROUP        0
VIC_RACE             0
VIC_SEX              0
X_COORD_CD           0
Y_COORD_CD           0
Latitude             0
Longitude            0
dtype: int64

In [12]:
df.shape

(163513, 29)

In [13]:
df['SUSP_AGE_GROUP'].value_counts()

UNKNOWN    78349
25-44      49963
45-64      17705
18-24      11831
<18         3647
65+         2000
2022          11
-74            1
-969           1
-1             1
-5962          1
-961           1
-10            1
-941           1
Name: SUSP_AGE_GROUP, dtype: int64

In [14]:
df['SUSP_AGE_GROUP'].replace('UNKNOWN','25-44',inplace=True)
df['SUSP_AGE_GROUP'].value_counts()

25-44    128312
45-64     17705
18-24     11831
<18        3647
65+        2000
2022         11
-74           1
-969          1
-1            1
-5962         1
-961          1
-10           1
-941          1
Name: SUSP_AGE_GROUP, dtype: int64

In [15]:
df['SUSP_RACE'].value_counts()

BLACK                             58347
UNKNOWN                           49875
WHITE HISPANIC                    25617
WHITE                             15867
BLACK HISPANIC                     7628
ASIAN / PACIFIC ISLANDER           5832
AMERICAN INDIAN/ALASKAN NATIVE      347
Name: SUSP_RACE, dtype: int64

In [16]:
df['SUSP_RACE'].replace('UNKNOWN','BLACK',inplace=True)
df['SUSP_RACE'].value_counts()

BLACK                             108222
WHITE HISPANIC                     25617
WHITE                              15867
BLACK HISPANIC                      7628
ASIAN / PACIFIC ISLANDER            5832
AMERICAN INDIAN/ALASKAN NATIVE       347
Name: SUSP_RACE, dtype: int64

In [17]:
df['VIC_AGE_GROUP'].value_counts()

25-44      58419
UNKNOWN    45928
45-64      30569
18-24      14372
65+         7783
<18         6432
-65            2
-5             1
-934           1
-40            1
-4             1
-964           1
-955           1
-959           1
-963           1
Name: VIC_AGE_GROUP, dtype: int64

In [18]:
df['VIC_AGE_GROUP'].replace('UNKNOWN','25-44',inplace=True)
df['VIC_AGE_GROUP'].value_counts()

25-44    104347
45-64     30569
18-24     14372
65+        7783
<18        6432
-65           2
-5            1
-934          1
-40           1
-4            1
-964          1
-955          1
-959          1
-963          1
Name: VIC_AGE_GROUP, dtype: int64

In [19]:
df['VIC_RACE'].value_counts()

UNKNOWN                           48615
BLACK                             42768
WHITE HISPANIC                    28921
WHITE                             23350
ASIAN / PACIFIC ISLANDER          12670
BLACK HISPANIC                     6637
AMERICAN INDIAN/ALASKAN NATIVE      552
Name: VIC_RACE, dtype: int64

In [20]:
df['VIC_RACE'].replace('UNKNOWN','BLACK',inplace=True)
df['VIC_RACE'].value_counts()

BLACK                             91383
WHITE HISPANIC                    28921
WHITE                             23350
ASIAN / PACIFIC ISLANDER          12670
BLACK HISPANIC                     6637
AMERICAN INDIAN/ALASKAN NATIVE      552
Name: VIC_RACE, dtype: int64

In [24]:
df['SUSP_SEX'].value_counts()

M    94923
U    41322
F    27268
Name: SUSP_SEX, dtype: int64

In [25]:
df['SUSP_SEX'].replace('U','M',inplace=True)
df['SUSP_SEX'].value_counts()

M    136245
F     27268
Name: SUSP_SEX, dtype: int64

In [27]:
df['VIC_SEX'].value_counts()

F    68115
M    52448
D    36782
E     6168
Name: VIC_SEX, dtype: int64

In [28]:
df['VIC_SEX'].replace('E','D',inplace=True)
df['VIC_SEX'].value_counts()

F    68115
M    52448
D    42950
Name: VIC_SEX, dtype: int64